ASI_ONE_API_KEY=sk_90d754b04ffe4bf48d24bb071db1d52458d1d1be78d347a0906810d49be9d4e8
ANTHROPIC_API_KEY=your_anthropic_api_key
GOOGLE_API_KEY=AIzaSyDlOrO-NGX96ItE6fHguIGx69Z1Ru105k8
ELEVENLABS_API_KEY=sk_f6952132da13a704b0bcfd35fdfd4d508f81ffe6fd948ec2
CLOUDINARY_CLOUD_NAME=dq9nw7j4t
CLOUDINARY_API_SECRET=MxibsVNXjwglW3loWyMy7uKATFc
CLOUDINARY_API_KEY=861911359586539
MONGODB_URI=mongodb+srv://ria:voice123@cluster.mongodb.net/voicesofhome?retryWrites=true&w=majority
ATLAS_VECTOR_INDEX=cultural_kb_vector
FETCH_AGENT_SEED_PHRASE=voiceofhome
FETCH_AGENTVERSE_API_KEY=eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjY1MDc1ODMyNDksImlhdCI6MTc3NzE4MzI0OSwiaXNzIjoiZmV0Y2guYWkiLCJqdGkiOiIxNjU4MGU4MDNiZTJlNTI3NDQ0MjIxOTkiLCJzY29wZSI6ImF2Iiwic3ViIjoiN2QwYzU2NDZmMjg4ODBlNTY4YTYzNzYwOTg1YTgwY2YzODI2ZjkzNDdhYTBhZjFlIn0.Bu97f_uK8yDGJ-20NFjNG1lHvCegZj3jvBDBbRoKTox4IUYc1dCuw9r7Y37J7F1cSJEsWK52XiGKQXNgb_YkPL_-2fELrHythS_TEYbYxYKp8Rn3adzIv3z82ceaNsUPez1AXGTLDI3gwWm7DxGXPMMfNNJKPXCp0rRTXBhsPPAqitig5eT5NXie1cf9Q_De_aJklliJbj2gLUuzJbfqeeuyjvxOgk6n4eWZAPAAJiZvrEF_Xh6y0t1OSHHmEwmGHgZ-_1cWwGAbfgjyOUhe8PopsFVd5aEWm2fPLJ17GfTSyy2NuI_cH8DEHv_s1jENuGfIsSqtm-iQRq2PEuK6RQ
MELANGE_PERSONAL_KEY=your_melange_key
# --- SERVER CONFIG ---
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
